

.GameOfLife__cells {
    display: flex;
    
}

.GameOfLife__cell {
    width: 20px;
    height: 20px;
    background-color: hotpink;
    border: 1px solid white;
}

.GameOfLife__column {
    display: flex;
    flex-direction: column;
}
