

.GameOfLife__cells {
    display: flex;

}

.GameOfLife__cell {
    width: 20px;
    height: 20px;
    border: 1px solid #c0c0c0;
}

.GameOfLife__column {
    display: flex;
    flex-direction: column;
}

.GameOfLife__cell--alive {
    background-color: hotpink;
}

.GameOfLife__cell--dead {
    background-color: black;
}