body {
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png) 
  }
    
  .box {
    display: inline-block;       
    border: 1px solid;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
    }

  .btn {
    background-color: hotpink;
    color: royalblue;
    font-size: 14px;
    font: bold;
  }
   
  .off {
    background-color: ;
  }
  
  .on {
    background-color: hotpink;
  }
    
  .box:hover { 
    background: hotpink;
  }
  
  .center {
    margin: auto;
    display: table;
    margin-top: 10px;
    margin-bottom: 50px;

  }
  
  .grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px hotpink;
    margin-top: 20px;
  }
    
  h1, h2, h3, h4 {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
  }

  /*Generations section */
  .generations {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: white;
  }
  /*Title section */
  .titleGoL {
  color:white;
  font-size:2em;
  text-align:center;
  animation: neonGlow 2s infinite alternate;
  padding-top: 10px;
  }
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(255,255,255,.8),
                   0 0 22px  rgba(255,255,255,.8),
                   0 0 40px  rgba(66,220,219,.8),
                   0 0 60px  rgba(66,220,219,.8),
                   0 0 80px  rgba(66,220,219,.5),
                   0 0 100px rgba(66,220,219,.5),
                   0 0 140px rgba(66,220,219,.5),
                   0 0 200px rgba(66,220,219,.5);
    }
    100% {
      text-shadow: 0 0 2px rgba(255,255,255,.8),
                   0 0 8px rgba(255,255,255,.8),
                   0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(66,220,219,.8),
                   0 0 30px rgba(66,220,219,.8),
                   0 0 40px rgba(66,220,219,.8),
                   0 0 50px rgba(66,220,219,.5),
                   0 0 80px rgba(66,220,219,.5);
    }
  }

   /*Nav section */
  .navMain {
    padding-top: 12px;
    padding-bottom: 24px;
  }
  .navMain h4 {
    font-size:16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /*About section */
  .accordionDiv{
    display: flex;
    justify-content: center;
  }
.accordionMain {
  width: 425px;
}

.accordionCard {
  display: flex;
  align-items: center;
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png);
  border: 1px dotted hotpink;
  color: hotpink;
  font-weight: bold;
  font-size: 12px;
}



